<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=1"
    />
  </head>
  <body>
    <div class="flight-details1">
      <img class="image-12-icon" alt="" src="./assets/img/image-13@2x.png" />

      <div class="flight-details-child"></div>
      <div class="flight-details-inner">
        <div class="group-child14"></div>
      </div>
      <div class="group-3404-button">
        <div class="group-3404-button-inner">
          <div class="group-child15"></div>
        </div>
        <div class="billboard-1-group">
          <img
            class="billboard-1-icon1"
            alt=""
            src="./assets/img/billboard-11@2x.png"
          />

          <b class="flight-details2">Flight Details</b>
        </div>
      </div>
      <a href="/trip_mode" style="text-decoration: none; color: white;">
        <div class="group-3406-button" id="group3406Button">
          <div class="group-3406-button-inner">
            <div class="group-child16"></div>
          </div>
          <div class="space-rocket-launch-removebg-p-parent">
            <img
              class="space-rocket-launch-removebg-p-icon1"
              alt=""
              src="./assets/img/spacerocketlaunchremovebgpreview-1-1@2x.png"
            />
  
            <b class="change-travelmode1">Change TravelMode</b>
          </div>
        </div>
      </a>
      <!-- <input type="radio" value="One Way" class="one-way" />
      <label for="Ow">One Way</label>
      <input type="radio" value="Round trip" class="round-trip" />
      <label for="Rt">Round trip</label> -->

      <div class="to-parent">
        <b class="to">To :</b>
        <div class="group-child17"></div>
      </div>
      <div class="travel-mode-parent">
        <b class="travel-mode1">Travel Mode :</b>
        <b class="departure">Departure :</b>
        <div class="group-child17"></div>
        <b class="celestial-cruiser2">Celestial Cruiser</b>
      </div>
      <div class="rectangle-parent10">
        <div class="group-child19"></div>
        <b class="b">14</b>
        <b class="total-hours">Total Hours</b>
      </div>
      <a href="/confirmation" style="text-decoration: none; color: white;">
        <div class="group-3265-button" id="group3265Button">
          <div class="rectangle-parent11">
            <div class="group-child20"></div>
            <b class="proceed-to-checkout">Proceed to Checkout</b>
            <img class="group-child21" alt="" src="./assets/img/vector-11.svg" />
          </div>
        </div>
      </a>
      <div class="from-parent">
        <b class="from">From :</b>
        <div class="group-child22"></div>
      </div>
      <div class="lets-travel1">Let’s Travel</div>
      <div class="rectangle-parent12">
        <div class="group-child19"></div>
        <b class="price1">Price</b>
        <b class="b1">
          <span>` </span>
          <span class="span1">500</span>
        </b>
      </div>
      <a href="/home">
        <img
        class="group-3273-button2"
        alt=""
        src="./assets/img/group-3259--button.svg"
        id="group3273Button"
      />

      </a>
      <select class="departure-date" style="color: black;">
        <option class="default-date1" value="Default Date">Default Date</option>
        <option class="default-date1" value="Date 1">Date 1</option>
        <option class="default-date1" value="Date 2">Date 2</option>
        <option class="default-date1" value="Date 3">Date 3</option>
        <option class="default-date1" value="Date 4">Date 4</option>
      </select>
      <select class="drop-down-to">
        <option class="default-date1" value="Default Planets">
          Default Planet
        </option>
        <option class="default-date1" value="Date 1">Date 1</option>
        <option class="default-date1" value="Date 2">Date 2</option>
        <option class="default-date1" value="Date 3">Date 3</option>
        <option class="default-date1" value="Date 4">Date 4</option>
      </select>
      <select class="drop-down-from">
        <option class="default-date1" value="Default Planets">
          Default Planet
        </option>
        <option class="default-date1" value="Date 1">Date 1</option>
        <option class="default-date1" value="Date 2">Date 2</option>
        <option class="default-date1" value="Date 3">Date 3</option>
        <option class="default-date1" value="Date 4">Date 4</option>
      </select>
    </div>

    <div class="navigation-panel">
      <a href="/flight_details" class="nav-icon"
        ><img src="./assets/img/reservation.png" alt="Book Icon"
      /></a>
      <a href="/home" class="nav-icon"
        ><img src="./assets/img/home.png" alt="Home Icon"
      /></a>
      <a href="/user_account" class="nav-icon"
        ><img src="./assets/img/user.png" alt="User Icon"
      /></a>
    </div>
    
  </body>
</html>
