<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
  </head>
  <body>
    <div class="confirmation">
      <img class="confirmation-child" alt="" src="./public/line-2.svg" />

      <div class="rectangle-parent4">
        <div class="group-child3"></div>
        <img
          class="firefly-celestial-cruiser-a-s-icon"
          alt=""
          src="./assets/img/firefly-celestial-cruiser-a-sleek-and-advanced-spacecraft-designed-for-smooth-interplanetary-travelremovebgpreview-1@2x.png"
        />

        <b class="ga-3432">GA 3432</b>
        <div class="ear-parent">
          <b class="ear">EAR</b>
          <b class="earth">Earth</b>
        </div>
        <div class="nibuloria-parent">
          <b class="nibuloria">Nibuloria</b>
          <b class="nbl">NBL</b>
        </div>
        <div class="days-parent">
          <b class="days">13 Days</b>
          <img
            class="line-segment-1-icon"
            alt=""
            src="./assets/img/linesegment-1@2x.png"
          />
        </div>
        <div class="vector-parent">
          <img
            class="group-child4"
            alt=""
            src="./assets/img/rectangle-272.svg"
          />

          <b class="price">Price</b>
          <div class="div">
            <span>` </span>
            <span class="span">500</span>
            <span> </span>
          </div>
        </div>
        <div class="rectangle-parent5">
          <div class="group-child5"></div>
          <b class="time">Time</b>
          <div class="pm">3.00pm</div>
          <img class="clock-1-icon" alt="" src="./assets/img/clock-1@2x.png" />
        </div>
        <div class="vector-group">
          <img
            class="group-child6"
            alt=""
            src="./assets/img/rectangle-270.svg"
          />

          <b class="time">Date</b>
          <div class="th-of-march">14th of March</div>
          <img class="calendar-1-1" alt="" src="./public/calendar-1-1@2x.png" />
        </div>
        <div class="vector-container">
          <img
            class="group-child7"
            alt=""
            src="./assets/img/rectangle-273.svg"
          />

          <img
            class="barcode-1-icon"
            alt=""
            src="./assets/img/barcode-1@2x.png"
          />

          <div class="barcode-3-wrapper">
            <img
              class="barcode-3-icon"
              alt=""
              src="./assets/img/barcode-1@2x.png"
            />
          </div>
          <img
            class="barcode-2-icon"
            alt=""
            src="./assets/img/barcode-1@2x.png"
          />
        </div>
      </div>
      <a href="/payment" style="text-decoration: none; color: white;">
        <div class="group-3273-button" id="group3273Button">
          <div class="rectangle-parent6">
            <div class="group-child8"></div>
            <b class="confirm">Confirm</b>
          </div>
        </div>
      </a>
      <div class="group-3274-button" id="group3274Button">
        <a href="/flight_details" style="text-decoration: none; color: white;">
          <div class="rectangle-parent6">
            <div class="group-child9"></div>
            <b class="cancel">Cancel</b>
          </div>
        </a>
      </div>
      <div class="confirmation1">Confirmation</div>
    </div>

    <!-- <script>
      var group3273Button = document.getElementById("group3273Button");
      if (group3273Button) {
        group3273Button.addEventListener("click", function (e) {
          window.location.href = "./EnterPayment.html";
        });
      }
      
      var group3274Button = document.getElementById("group3274Button");
      if (group3274Button) {
        group3274Button.addEventListener("click", function (e) {
          window.location.href = "./FlightDetails.html";
        });
      }
      </script> -->
  </body>
</html>
