<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
  </head>
  <body>
    <div class="trip-details">
      <div class="trip-details-child"></div>
      <div class="trip-details-child1"></div>
      <div class="profile-2-parent">
        <img
          class="profile-2-icon"
          alt=""
          src="./assets/img/profile-2@2x.png"
        />

        <img
          class="edit-profile-icon1"
          alt=""
          src="./assets/img/edit-profile1.svg"
        />

        <div class="andrew-tate1">Andrew Tate</div>
      </div>
      <a href="/home">
        <img
        class="group-3258-button"
        alt=""
        src="./assets/img/group-3259--button.svg"
        id="group3258Button"
      />
      </a>

      <img class="user-1-1" alt="" src="./assets/img/user-1-1@2x.png" />

      <img
        class="edit-profile-icon2"
        alt=""
        src="./assets/img/edit-profile1.svg"
      />

      <div class="group-3427-button-parent">
        <a href="/user_account" style="text-decoration: none; color: white;">
          <div class="group-3427-button" id="group3427Button">
            <div class="profile">Profile</div>
            <div class="group-3427-button-child"></div>
          </div>
        </a>
        <a href="/trip_details" style="text-decoration: none; color: white;">
          <div class="group-3428-button">
            <div class="on-going-wrapper">
              <div class="profile">On Going</div>
            </div>
            <div class="group-3428-button-child"></div>
          </div>
        </a>
        <a href="/history" style="text-decoration: none; color: white;">
          <div class="group-3429-button" id="group3429Button">
            <div class="profile">History</div>
            <div class="group-3429-button-child"></div>
          </div>
        </a>
      </div>
      <div class="rectangle-parent16">
        <div class="group-child24"></div>
        <img
          class="firefly-celestial-cruiser-a-s-icon1"
          alt=""
          src="./assets/img/firefly-celestial-cruiser-a-sleek-and-advanced-spacecraft-designed-for-smooth-interplanetary-travelremovebgpreview-11@2x.png"
        />

        <div class="days-group">
          <b class="days1">13 Days</b>
          <img
            class="line-segment-1-icon1"
            alt=""
            src="./assets/img/linesegment-11@2x.png"
          />
        </div>
        <div class="group-parent">
          <div class="ear-group">
            <b class="ear1">EAR</b>
            <div class="earth1">Earth</div>
          </div>
          <div class="nibuloria-group">
            <div class="nibuloria1">Nibuloria</div>
            <b class="nbl1">NBL</b>
          </div>
          <div class="vector-parent1">
            <img
              class="group-child25"
              alt=""
              src="./assets/img/rectangle-2721.svg"
            />

            <b class="price2">Price</b>
            <b class="b2">` 500 </b>
          </div>
          <div class="rectangle-parent17">
            <div class="group-child26"></div>
            <b class="time1">Time</b>
            <div class="pm1">3.00pm</div>
            <img
              class="clock-1-icon1"
              alt=""
              src="./assets/img/clock-11@2x.png"
            />
          </div>
          <div class="vector-parent2">
            <img
              class="group-child27"
              alt=""
              src="./assets/img/rectangle-2701.svg"
            />

            <b class="date1">Date</b>
            <div class="th-of-march1">14th of March</div>
            <img
              class="calendar-1-11"
              alt=""
              src="./assets/img/calendar-1-11@2x.png"
            />
          </div>
          <div class="vector-parent3">
            <img
              class="group-child28"
              alt=""
              src="./assets/img/rectangle-2731.svg"
            />

            <img
              class="barcode-1-icon1"
              alt=""
              src="./assets/img/barcode-11@2x.png"
            />

            <div class="barcode-3-container">
              <img
                class="barcode-3-icon1"
                alt=""
                src="./assets/img/barcode-3@2x.png"
              />
            </div>
            <img
              class="barcode-2-icon1"
              alt=""
              src="./assets/img/barcode-11@2x.png"
            />
          </div>
        </div>
      </div>

      <div class="navigation-panel">
        <a href="/flight_details" class="nav-icon"
          ><img src="./assets/img/reservation.png" alt="Book Icon"
        /></a>
        <a href="/home" class="nav-icon"
          ><img src="./assets/img/home.png" alt="Home Icon"
        /></a>
        <a href="/user_account" class="nav-icon"
          ><img src="./assets/img/user.png" alt="User Icon"
        /></a>
      </div>

      <b class="ga-34321">GA 3432</b>
    </div>
  </body>
</html>
