<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
  </head>
  <body>
    <div class="home">
      <div class="home-child"></div>
      <img
        class="profile-2-icon"
        alt=""
        src="./assets/img/profile-21@2x.png"
        id="profile2Image"
      />

      <b class="hi-andrew">Hi Andrew,</b>
      <div class="popular">Popular</div>
      <div class="book-these-with-container">
        <span>Book these with </span>
        <span class="premium">Premium</span>
      </div>
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <img
          class="tea-cup-01-icon"
          alt=""
          src="./assets/img/tea-cup01@2x.png"
        />

        <div class="group-item"></div>
        <div class="food">Food</div>
        <img class="crown-1-icon" alt="" src="./assets/img/crown-1@2x.png" />
      </div>
      <div class="rectangle-group">
        <div class="group-child"></div>
        <img class="bed-01-icon" alt="" src="./assets/img/bed01@2x.png" />

        <div class="rectangle-div"></div>
        <div class="food">Hotels</div>
        <img class="crown-2-icon" alt="" src="./assets/img/crown-1@2x.png" />
      </div>

      <div class="home-inner">
        <div class="group-3256-button-parent">
          <div class="group-3256-button">
            <div class="group-3256-button-child"></div>
            <div class="planet-2-1-wrapper">
              <img
                class="planet-2-1"
                alt=""
                src="./assets/img/planet-2-1@2x.png"
              />
            </div>
            <div class="luminastra-parent">
              <b class="luminastra">Luminastra</b>
              <div class="light-years">17 light years</div>
              <div class="star-1-parent">
                <img
                  class="star-1-icon"
                  alt=""
                  src="./assets/img/star-1@2x.png"
                />

                <img
                  class="star-2-icon"
                  alt=""
                  src="./assets/img/star-1@2x.png"
                />

                <img
                  class="star-3-icon"
                  alt=""
                  src="./assets/img/star-1@2x.png"
                />
              </div>
            </div>
          </div>
          <a href="/destination" style="text-decoration: none; color: white;"><div class="group-3253-button" id="group3253Button">
            <div class="group-3253-button-child"></div>
            <div class="planet-1-1-wrapper">
              <img
                class="planet-1-1"
                alt=""
                src="./assets/img/planet-1-1@2x.png"
              />
            </div>
            <div class="nebuloria-parent">
              <b class="luminastra">Nebuloria</b>
              <div class="light-years1">24 light years</div>
              <div class="star-1-group">
                <img
                  class="star-1-icon"
                  alt=""
                  src="./assets/img/star-1@2x.png"
                />

                <img
                  class="star-2-icon"
                  alt=""
                  src="./assets/img/star-1@2x.png"
                />

                <img
                  class="star-3-icon"
                  alt=""
                  src="./assets/img/star-1@2x.png"
                />

                <img
                  class="star-4-icon"
                  alt=""
                  src="./assets/img/star-1@2x.png"
                />
              </div>
              <div class="div">4.8</div>
            </div>
          </div></a>
          <div class="group-3253-button1">
            <div class="group-3253-button-item"></div>
            <div class="planet-3-2-wrapper">
              <img
                class="planet-3-2"
                alt=""
                src="./assets/img/planet-3-2@2x.png"
              />
            </div>
            <div class="light-years-parent">
              <div class="light-years2">21 light years</div>
              <b class="xiettra">Xiettra</b>
              <div class="star-1-container">
                <img
                  class="star-1-icon"
                  alt=""
                  src="./assets/img/star-1@2x.png"
                />

                <img
                  class="star-2-icon"
                  alt=""
                  src="./assets/img/star-1@2x.png"
                />

                <img
                  class="star-3-icon"
                  alt=""
                  src="./assets/img/star-1@2x.png"
                />

                <img
                  class="star-4-icon"
                  alt=""
                  src="./assets/img/star-1@2x.png"
                />
              </div>
              <div class="div1">4.8</div>
              <div class="div2">4.8</div>
            </div>
          </div>
          <div class="group-3257-button">
            <div class="group-3253-button-child"></div>
            <div class="planet-1-1-wrapper">
              <img
                class="img-20230812-wa0051-1-icon"
                alt=""
                src="./assets/img/img20230812wa0051-1@2x.png"
              />
            </div>
            <div class="light-years-group">
              <div class="light-years3">15 light years</div>
              <b class="luminastra">Javuna</b>
              <div class="group-div">
                <img
                  class="star-1-icon"
                  alt=""
                  src="./assets/img/star-1@2x.png"
                />

                <img
                  class="star-2-icon"
                  alt=""
                  src="./assets/img/star-1@2x.png"
                />

                <img
                  class="star-3-icon"
                  alt=""
                  src="./assets/img/star-1@2x.png"
                />

                <img
                  class="star-4-icon"
                  alt=""
                  src="./assets/img/star-1@2x.png"
                />
              </div>
              <div class="div3">4.8</div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-inner1">
        <div class="forminput1-parent">
          <div class="forminput1">
            <div class="forminput1-child"></div>
            <div class="placeholder">Email</div>
            <img
              class="iconlymessage"
              alt=""
              src="./public/iconlymessage4.svg"
            />

            <img class="iconlyhide" alt="" src="./assets/img/iconlyhide5.svg" />
          </div>
          <div class="search-icon-01-1-svg-parent">
            <img
              class="search-icon-01-1-svg"
              alt=""
              src="./assets/img/searchicon01-1--svg@2x.png"
            />

            <div class="search-input">Search...</div>
          </div>
        </div>
      </div>
    </div>

    <div class="navigation-panel">
      <a href="/flight_details" class="nav-icon"
        ><img src="./assets/img/reservation.png" alt="Book Icon"
      /></a>
      <a href="/home" class="nav-icon"
        ><img src="./assets/img/home.png" alt="Home Icon"
      /></a>
      <a href="/user_account" class="nav-icon"
        ><img src="./assets/img/user.png" alt="User Icon"
      /></a>
    </div>
  </body>
</html>
