<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
  </head>
  <body>
    <div class="history1">
      <div class="history-child"></div>
      <div class="history-item"></div>
      <div class="nexuss-parent">
        <div class="nexuss">Nexuss</div>
        <div class="div2">09-21-2162</div>
        <div class="div3">`44</div>
      </div>
      <div class="floaxan-parent">
        <div class="nexuss">Floaxan</div>
        <div class="div2">11-14-2162</div>
        <div class="div3">`25</div>
      </div>
      <div class="nepyura-parent">
        <div class="nexuss">Nepyura</div>
        <div class="div2">06-02-2162</div>
        <div class="div3">`40</div>
      </div>
      <div class="latrra-parent">
        <div class="nexuss">Latrra</div>
        <div class="div2">04-30-2162</div>
        <div class="div3">` 32</div>
      </div>
      <div class="andrew-tate-parent">
        <div class="andrew-tate2">Andrew Tate</div>
        <img class="user-1-11" alt="" src="./assets/img/user-1-1@2x.png" />

        <img
          class="edit-profile-icon3"
          alt=""
          src="./assets/img/edit-profile2.svg"
        />
      </div>
      <a href="/home">
        <img
        class="group-3258-button1"
        alt=""
        src="./assets/img/group-3259--button.svg"
        id="group3258Button"
      />
      </a>

      <div class="group-3430-button-parent">
        <a href="/user_account" style="text-decoration: none; color: white;">
          <div class="group-3430-button" id="group3430Button">
            <div class="profile1">Profile</div>
            <div class="group-3430-button-child"></div>
          </div>
        </a>
        <a href="/trip_details" style="text-decoration: none; color: white;">
          <div class="group-3431-button" id="group3431Button">
            <div class="profile1">On Going</div>
            <div class="group-3431-button-child"></div>
          </div>
        </a>
        <a href="/history" style="text-decoration: none; color: white;">
          <div class="group-3432-button">
            <div class="history-wrapper">
              <div class="profile1">History</div>
            </div>
            <div class="group-3432-button-child"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="navigation-panel">
      <a href="/flight_details" class="nav-icon"
        ><img src="./assets/img/reservation.png" alt="Book Icon"
      /></a>
      <a href="/home" class="nav-icon"
        ><img src="./assets/img/home.png" alt="Home Icon"
      /></a>
      <a href="/user_account" class="nav-icon"
        ><img src="./assets/img/user.png" alt="User Icon"
      /></a>
    </div>
  </body>
</html>
