<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
  </head>
  <body>
    <div class="landmarks">
      <div class="landmarks-child"></div>
      <div class="vertical-scroll">
        <div class="frame-parent">
          <div class="rectangle-container">
            <img class="frame-child" alt="" src="./assets/img/landmark1.jpg" />

            <div class="frame-group">
              <div class="frame-container">
                <div class="frame-div">
                  <div class="frame-item"></div>
                  <img
                    class="weather-01-1-icon"
                    alt=""
                    src="./assets/img/weather01-1@2x.png"
                  />
                </div>
                <div class="sunny">Sunny</div>
              </div>
              <div class="la-tu-malara-parent">
                <b class="la-tu-malara">La Tu Malara</b>
                <div class="la-tu-marala">
                  La Tu Marala, a celestial wonder on planet Nebuloria, boasts
                  unique sandy peaks resembling Earth's mountains. Amidst
                  colorful sands, visitors marvel at the surreal landscape, a
                  blend of extraterrestrial terrain and awe-inspiring vistas,
                  creating an unforgettable off-world experience.
                </div>
              </div>
            </div>
          </div>
          <div class="rectangle-parent1">
            <img class="frame-inner" alt="" src="./assets/img/landmark2.jpg" />

            <div class="frame-parent1">
              <div class="molanixx-parent">
                <b class="molanixx">Molanixx</b>
                <div class="molanixx-a-mesmerizing">
                  Molanixx, a mesmerizing destination on Nebuloria North,
                  enchants with its crimson landscapes reminiscent of Mars.
                  Dotted with stumpy mountain formations and ethereal light blue
                  spheres, the terrain offers a surreal blend of familiarity and
                  otherworldly beauty.
                </div>
              </div>
              <div class="frame-parent2">
                <div class="frame-div">
                  <div class="frame-item"></div>
                  <img
                    class="weather-01-1-icon"
                    alt=""
                    src="./assets/img/weather01-11@2x.png"
                  />
                </div>
                <div class="sunny">Sunny</div>
              </div>
            </div>
          </div>
          <div class="rectangle-parent3">
            <img class="frame-child" alt="" src="./assets/img/landmark3.jpg" />

            <div class="frame-parent3">
              <div class="losmos-plains-parent">
                <b class="losmos-plains">Losmos Plains</b>
                <div class="welcome-to-the">
                  Welcome to the Losmos Plains, a celestial masterpiece. Amidst
                  golden sands, enchanting light blue spheres grace the
                  landscape, while a cosmos-like sky bathes the scene in purple
                  hues, creating an awe-inspiring haven for cosmic dreamers.
                </div>
              </div>
              <div class="frame-parent4">
                <div class="frame-div">
                  <div class="frame-item"></div>
                  <img
                    class="weather-01-1-icon"
                    alt=""
                    src="./assets/img/weather01-11@2x.png"
                  />
                </div>
                <div class="sunny">Sunny</div>
              </div>
            </div>
          </div>
          <div class="frame-parent5">
            <div class="frame-parent6">
              <div class="rectangle-parent5">
                <div class="frame-child3"></div>
                <div class="attration-3-1-wrapper">
                  <img
                    class="attration-3-1"
                    alt=""
                    src="./assets/img/attration-3-1@2x.png"
                  />
                </div>
              </div>
              <div class="la-tu-malara-group">
                <b class="la-tu-malara">La Tu Malara</b>
                <div class="la-tu-marala">
                  La Tu Marala, a celestial wonder on planet Nebuloria, boasts
                  unique sandy peaks resembling Earth's mountains. Amidst
                  colorful sands, visitors marvel at the surreal landscape, a
                  blend of extraterrestrial terrain and awe-inspiring vistas,
                  creating an unforgettable off-world experience.
                </div>
              </div>
            </div>
            <div class="frame-parent7">
              <div class="frame-div">
                <div class="frame-item"></div>
                <img
                  class="weather-01-1-icon"
                  alt=""
                  src="./assets/img/weather01-11@2x.png"
                />
              </div>
              <div class="sunny">Sunny</div>
            </div>
          </div>
          <div class="frame-parent8">
            <div class="frame-parent9">
              <div class="attraction-2-1-wrapper">
                <img
                  class="attraction-2-1"
                  alt=""
                  src="./assets/img/attraction-2-1@2x.png"
                />
              </div>
              <div class="molanixx-group">
                <b class="molanixx">Molanixx</b>
                <div class="molanixx-a-mesmerizing">
                  Molanixx, a mesmerizing destination on Nebuloria North,
                  enchants with its crimson landscapes reminiscent of Mars.
                  Dotted with stumpy mountain formations and ethereal light blue
                  spheres, the terrain offers a surreal blend of familiarity and
                  otherworldly beauty.
                </div>
              </div>
            </div>
            <div class="frame-parent10">
              <div class="frame-div">
                <div class="frame-item"></div>
                <img
                  class="weather-01-1-icon4"
                  alt=""
                  src="./assets/img/weather01-11@2x.png"
                />
              </div>
              <div class="sunny">Sunny</div>
            </div>
          </div>
          <div class="frame-parent11">
            <div class="frame-parent12">
              <div class="rectangle-parent8">
                <div class="frame-child6"></div>
                <div class="attraction-4-1-wrapper">
                  <img
                    class="attraction-4-1"
                    alt=""
                    src="./assets/img/attraction-4-1@2x.png"
                  />
                </div>
              </div>
              <div class="losmos-plains-group">
                <b class="losmos-plains">Losmos Plains</b>
                <div class="welcome-to-the">
                  Welcome to the Losmos Plains, a celestial masterpiece. Amidst
                  golden sands, enchanting light blue spheres grace the
                  landscape, while a cosmos-like sky bathes the scene in purple
                  hues, creating an awe-inspiring haven for cosmic dreamers.
                </div>
              </div>
            </div>
            <div class="frame-parent13">
              <div class="frame-div">
                <div class="frame-item"></div>
                <img
                  class="weather-01-1-icon4"
                  alt=""
                  src="./assets/img/weather01-11@2x.png"
                />
              </div>
              <div class="sunny">Sunny</div>
            </div>
          </div>
        </div>
        <b class="landmarks1">Landmarks</b>
      </div>
      <a href="/destination">
        <img
          class="group-3258-button"
          alt=""
          src="./assets/img/group-3259--button.svg"
        /></a>
    </div>

    <div class="navigation-panel">
      <a href="/flight_details" class="nav-icon"
        ><img src="./assets/img/reservation.png" alt="Book Icon"
      /></a>
      <a href="/home" class="nav-icon"
        ><img src="./assets/img/home.png" alt="Home Icon"
      /></a>
      <a href="/user_account" class="nav-icon"
        ><img src="./assets/img/user.png" alt="User Icon"
      /></a>
    </div>
  </body>
</html>
