<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=1"
    />
  </head>
  <body>
    <div class="sign-up1">
      <img class="group-icon2" alt="" src="./assets/img/group2.svg" />

      <div class="sign-up-item"></div>
      <div class="sign-up-child1"></div>
      <div class="line2"></div>
      <div class="forgot-password-"><a href="#">Forgot Password</a></div>
      <div class="stroke-1-group">
        <input
          type="checkbox"
          id="Re"
          class="remember-me1"
          name="Remember"
          value="Remember me"
        />
        <label for="Re">Remember me</label>
      </div>
      <div class="forminput12">
        <div class="forminput1-inner"></div>
        <input type="text" class="placeholder-input3" placeholder="Passcode" />
        <img
          class="iconlypassword2"
          alt=""
          src="./assets/img/iconlypassword2.svg"
        />

        <img class="iconlyhide3" alt="" src="./assets/img/iconlyhide2.svg" />
      </div>
      <div class="forminput13">
        <div class="forminput1-inner"></div>
        <input type="text" class="placeholder-input3" placeholder="G-code" />
        <img
          class="iconlymessage3"
          alt=""
          src="./assets/img/iconlymessage2.svg"
        />

        <img class="iconlyhide4" alt="" src="./assets/img/iconlyhide2.svg" />
      </div>
      <div class="dont-have-account-container">
        <span>
          <span>Don’t have account?</span>
          <b class="b"> </b>
        </span>
        <b class="b">
          <a href="/signup" style="text-decoration: none; color: white;"><span>Sign UP</span></a>
        </b>
      </div>
      <div class="buttonbiru3">
        <a href="/home"><button class="sign-in3" type="">Sign in</button></a>
      </div>
      <a href="/"><img class="group-3273-button" alt="" src="./assets/img/group-3259--button.svg" id="group3273Button"/></a>
    </div>

    <script>
      var group3273Button = document.getElementById("group3273Button");
      if (group3273Button) {
        group3273Button.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
    </script>
  </body>
</html>
