<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=1"
    />
  </head>
  <body>
    <div class="enter-payment">
      <div class="enter-payment-child"></div>
      <div class="enter-payment-item"></div>
      <b class="username">Username</b>
      <b class="g-code">G - code</b>
      <b class="reference">Reference</b>
      <div class="forminput11">
        <div class="forminput1-item"></div>
        <div class="placeholder1"></div>
        <img
          class="iconlymessage1"
          alt=""
          src="./assets/img/iconlymessage1.svg"
        />

        <img class="iconlyhide2" alt="" src="./assets/img/iconlyhide2.svg" />
      </div>
      <div class="forminput12">
        <div class="forminput1-item"></div>
      </div>
      <b class="andrew-tate">Andrew Tate</b>
      <div class="forminput13">
        <div class="forminput1-item"></div>
        <div class="placeholder1"></div>
      </div>
      <b class="g12300945">G12300945</b>

      <div class="forminput14">
        <label class="reference" for="reference">Reference</label>
        <input
          type="text"
          id="reference"
          class="forminput1-item"
          placeholder="Write here..."
        />
      </div>

      <label class="universal-coin-id" for="unicode">Universal Coin ID</label>
      <input
        type="text"
        id="unicode"
        class="div1"
        placeholder="1234 7843 1234 5436"
      />

      <div class="enter-payment-inner"></div>
      <a href="/payment_sucess" style="text-decoration: none; color: white;">
        <div class="group-3273-button1" id="group3273Button">
          <div class="rectangle-parent8">
            <div class="group-child10"></div>
            <b class="pay">Pay</b>
          </div>
        </div>
      </a>
      <div class="group-3274-button1" id="group3274Button">
        <a href="/confirmation" style="text-decoration: none; color: white;">
          <div class="rectangle-parent8">
            <div class="group-child11"></div>
            <b class="cancel1">Cancel</b>
          </div>
        </a>
      </div>
      <b class="payment1">Payment</b>
      <b class="user">User</b>
    </div>
  </body>
</html>
