<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
  </head>
  <body>
    <div class="travel-mode">
      <img class="image-13-icon" alt="" src="./assets/img/image-13@2x.png" />

      <div class="travel-mode-child"></div>
      <div class="text"></div>
      <a href="/flight_details">
        <div class="group-3402-button" id="group3402Button">
          <div class="group-3402-button-inner">
            <div class="group-child12"></div>
          </div>
          <div class="billboard-1-parent">
            <img
              class="billboard-1-icon"
              alt=""
              src="./assets/img/billboard-1@2x.png"
            />
  
            <b class="flight-details">Flight Details</b>
          </div>
        </div>
      </a>
      <div class="group-3281-button">
        <div class="group-3281-button-inner">
          <div class="group-child13"></div>
        </div>
        <img
          class="space-rocket-launch-removebg-p-icon"
          alt=""
          src="./assets/img/spacerocketlaunchremovebgpreview-1-2@2x.png"
        />

        <b class="change-travelmode">Change TravelMode</b>
      </div>
      <div class="text1"></div>
      <img class="travel-mode-inner" alt="" src="./assets/img/line-1.svg" />

      <div class="lets-travel">Let’s Travel</div>
      <a href="/flight_details">
        <img
        class="travel-mode-child1"
        alt=""
        src="./assets/img/group-3259--button.svg"
        id="groupIcon"
      />
      </a>

      <div class="selection">
        <div class="group-3394-button">
          <img
            class="group-3394-button-child"
            alt=""
            src="./assets/img/rectangle-2211@2x.png"
          />

          <div class="per-hour-group">
            <div class="per-hour6">` 50 per hour</div>
            <div class="celestial-cruiser1">Celestial Cruiser</div>
          </div>
        </div>
        <div class="rectangle-222-button-parent">
          <img
            class="rectangle-222-button"
            alt=""
            src="./assets/img/AeroSphere.jpg"
          />

          <div class="aerosphere-express-group">
            <div class="aerosphere-express1">AeroSphere Express</div>
            <div class="per-hour7">` 65 per hour</div>
          </div>
        </div>
        <div class="rectangle-223-button-parent">
          <img
            class="rectangle-222-button"
            alt=""
            src="./assets/img/Astrorail.jpg"
          />

          <div class="astrorail-group">
            <div class="astrorail1">AstroRail</div>
            <div class="per-hour8">` 55 per hour</div>
          </div>
        </div>
        <div class="rectangle-224-button-parent">
          <img
            class="rectangle-222-button"
            alt=""
            src="./assets/img/QuantumNexus.jpg"
          />

          <div class="quantum-nexus-group">
            <div class="quantum-nexus1">Quantum Nexus</div>
            <div class="per-hour9">` 65 per hour</div>
          </div>
        </div>
        <div class="rectangle-226-button-parent">
          <img
            class="rectangle-222-button"
            alt=""
            src="./assets/img/NebulaNavigator.jpg"
          />

          <div class="nabula-navigator-group">
            <div class="nabula-navigator1">Nabula Navigator</div>
            <div class="per-hour10">` 54 per hour</div>
          </div>
        </div>
        <div class="rectangle-225-button-parent">
          <img
            class="rectangle-222-button"
            alt=""
            src="./assets/img/Galaxy Glider.jpg"
          />

          <div class="galaxy-glider-group">
            <div class="galaxy-glider1">Galaxy Glider</div>
            <div class="per-hour8">` 63 per hour</div>
          </div>
        </div>
      </div>
    </div>

    <div class="navigation-panel">
      <a href="/flight_details" class="nav-icon"
        ><img src="./assets/img/reservation.png" alt="Book Icon"
      /></a>
      <a href="/home" class="nav-icon"
        ><img src="./assets/img/home.png" alt="Home Icon"
      /></a>
      <a href="/user_account" class="nav-icon"
        ><img src="./assets/img/user.png" alt="User Icon"
      /></a>
    </div>
  </body>
</html>
