<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
  </head>
  <body>
    <div class="successful-payment">
      <b class="payment-successful">
        <p class="payment">Payment</p>
        <p class="payment">Successful</p>
      </b>
      <a href="/home" style="text-decoration: none; color: white;"><b class="click-here-to" id="clickHereTo">Click here to continue</b></a>
      <img class="group-icon" alt="" src="./assets/img/group.svg" />
    </div>
  </body>
</html>
