<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=1"
    />
  </head>
  <body>
    <div class="sign-up">
      <img class="group-icon1" alt="" src="./assets/img/group1.svg" />

      <div class="line1"></div>
      <div class="stroke-1-parent">
        <img class="stroke-1-icon" alt="" src="./assets/img/stroke-1.svg" />

        <div class="remember-me">Remember me</div>
      </div>
      <div class="sign-up-inner">
        <div class="placeholder-parent">
          <div class="placeholder2">Username</div>
          <img
            class="iconlymessage2"
            alt=""
            src="./assets/img/iconlymessage1.svg"
          />
        </div>
      </div>
      <a href="/"><img class="group-3258-button1" alt="" src="./assets/img/group-3259--button.svg" id="group3258Button"/></a>

      <div class="sign-up-child"></div>
      <div class="placeholder-input-parent">
        <label class="sector" for="sector">Sector :</label>
        <input type="text" id="sector" class="placeholder-input" />
        <img
          class="iconlypassword-svg"
          alt=""
          src="./assets/img/iconlypassword--svg.svg"
        />
      </div>
      <div class="sign-up-inner1">
        <label class="g-code" for="g-code">G-code :</label>
        <input type="text" id="g-code" class="placeholder3" />
        <img
          class="iconlymessage-svg"
          alt=""
          src="./assets/img/iconlymessage1.svg"
        />
      </div>
      <div class="buttonbiru1" id="buttonbiruContainer">
        <a href="/successful" style="text-decoration: none; color: white;"><b class="sign-in1">Sign in</b></a>
      </div>
      <div class="placeholder-input-group">
        <label class="passcode" for="passcode">Passcode :</label>
        <input type="text" id="passcode" class="placeholder-input1" />
        <img
          class="iconlypassword-svg1"
          alt=""
          src="./assets/img/iconlypassword--svg1.svg"
        />
      </div>
      <div class="placeholder-input-container">
        <label class="certify" for="certify">Certify Password :</label>
        <input type="text" id="certify" class="placeholder-input2" />
        <img
          class="iconlypassword-svg2"
          alt=""
          src="./assets/img/iconlypassword--svg1.svg"
        />
      </div>
      <div class="placeholder-container">
        <label class="homePlanet" for="homePlanet">Home Planet :</label>
        <input type="text" id="homePlanet" class="placeholder-input1" />
        <img class="group-3381-svg" alt="" src="./assets/img/home-planet.png" />
      </div>
    </div>
  </body>
</html>
