<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1"/>
    
  </head>
  <body>
    <div class="login">
      <img class="image-10-icon" alt="" src="./src/public/image-10@2x.png" />

      <div class="login-child"></div>
      <div class="welcome-traveller">Welcome Traveller !</div>
      <b class="search-millions-of"
        >Search millions of jobs and get the inside scoop on companies.Wait for
        what? Let’s get start it!</b>
      <a class="sign-up-" href="/signup" id="signUp" style="text-decoration: none; color: white;">Sign Up</a>
      <div class="buttonbiru2" id="buttonbiruContainer">
        <a class="sign-in2" href="/signin" style="text-decoration: none; color: white;">Sign in</a>
      </div>
      <div class="login-item"></div>
      <img
        class="viator-logo-01-1-svg"
        alt=""
        src="./assets/img/logo.png"
      />

      <img class="frame-2-svg" alt="" src="/assets/img/Astronaut with laptop-01.png" />
    </div>
  </body>
</html>
