<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
  </head>
  <body>
    <div class="successfull">
      <div class="successfull-child"></div>
      <div class="line"></div>
      <b class="your-account-has-container">
        <p class="your-account-has">Your Account Has Been</p>
        <p class="your-account-has">Successfully Created.</p>
      </b>
      <img class="group-icon" alt="" src="./assets/img/group.svg" />

      <a href="/home" style="text-decoration: none; color: white;"><b class="click-here-to" >Click here to continue</b></a>
    </div>
  </body>
</html>
