<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
  </head>
  <body>
    <div class="destination">
      <div class="destination-child"></div>
      <img class="planet-3-1" alt="" src="./assets/img/planet-3-1@2x.png" />

      <div class="destination-item"></div>
      <b class="enveloped-in-mist"
        >Enveloped in mist, aglow with radiant flora, and inhabited by
        Nebulites—luminous beings that weave harmonious patterns of light and
        sound, creating an otherworldly symphony in the ethereal air.
      </b>
      <b class="nebuloria">Nebuloria</b>
      <div class="destination-inner"></div>
      <a href="/landmarks">
        <button class="frame-11-button">
          <div class="frame-11-button-child"></div>
          <img class="firefly-an-attractive-scenario" alt="" src="./assets/img/firefly-an-attractive-scenario-with-a-wonderful-sight-in-an-alien-planet-34771@2x.png"/>
          <b class="discover">Discover</b>
        </button>
      </a>

      <button onclick="window.location.href='FlightDetails.html'">
        <div class="group-3272-button">
          <div class="rectangle-parent18">
            <div class="group-child29"></div>
            <img
              class="group-child30"
              alt=""
              src="./assets/img/vector-12.svg"
            />

            <div class="navigation-panel">
              <a href="/flight_details" class="nav-icon"
                ><img src="./assets/img/reservation.png" alt="Book Icon"
              /></a>
              <a href="/home" class="nav-icon"
                ><img src="./assets/img/home.png" alt="Home Icon"
              /></a>
              <a href="/user_account" class="nav-icon"
                ><img src="./assets/img/user.png" alt="User Icon"
              /></a>
            </div>

            <a href="/flight_details"><b class="book-now" style="text-decoration: none; color: white;">Book Now</b></a>
          </div>
        </div>
      </button>
    </div>
  </body>
</html>
